<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/common/header :: head(~{::title},~{},~{},~{})">
    <title>zookeeper web monitor</title>
  </head>
  <body>
    <div class="page">
      <!-- Main Navbar-->
      <header class="header" th:include="/common/header :: header"></header>
      <div class="page-content d-flex align-items-stretch">
        <!-- Side Navbar -->
        <nav class="side-navbar" th:include="/common/nav :: nav"></nav>
        <div class="content-inner">
          <!-- Page Header-->
          <header class="page-header">
            <div class="container-fluid">
              <h2 class="no-margin-bottom">服务列表</h2>
            </div>
          </header>

          <!-- Page Footer-->
          <footer class="main-footer">
            <div class="container-fluid" th:include="/common/footer :: footer"></div>
          </footer>
        </div>
      </div>
    </div>
    <!-- commen js-->
   <div th:include="/common/footer :: js"></div>
  </body>
</html>